<header>
 <nav class="navbar navbar-expand-lg navbar-light bg-light" id='tag'>
  <a class="navbar-brand" id='home' href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  >
          <a class="nav-link" id='Weather' href="/weather">Weather</a>
      </li>
      <li class="nav-item" >
          <a class="nav-link" id='aboutus' href="/about">About Us</a>
      </li>   
    </ul> 
  </div>
</nav>
</header>
